*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --discord-Primary: #3161E0;
    --discord-accent: #8EA1E1;
    --discord-black: #23272A;
    --discord-grey: #F6F6F6;

}

.body {
    font-family: 'Montserrat', sans-serif;
}


section {
    display: flex;
    justify-content: center;
    padding: 100px;
}

p {
    font-size: 20px;
}


h5 {
    color:  var(--discord-Primary);
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    margin: 20px 0;
}

/* header */
.debug .container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: var(--discord-Primary);
}
.logo {
    width: 200px;
    height: px;
    margin: 25px 0px;
    
}

.debug .link .menù {
    display: flex;
    width: 800px;
    height: 50px;
    margin: 25px 0px;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: white;
    align-items: center;
}

.debug .login {
    display: flex;
    width: 200px;
    height: 50px;
    margin: 25px 0px;
    align-items: center;
    justify-content: end;
}

.btn {
    margin: 10px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 5px 5px;
    border-radius: 30px;
    font-size: 15px;
}

.btn-white{
    color: var(--discord-black);
    background-color: white;
}

.btn-lg {
    padding: 15px 10px;
    border-radius: 40px;
}

.btn-dark {
    background-color: var(--discord-black);
    color: white;
}

/* main */


.debug .container-title {
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;

}

.debug .title {
    width: 40%;
    height: 300px;
    margin: 90px 0px;
}

.h2 {
    font-size: 40px;
    color: white;
    padding: 10px;
}
.h2-2{
    display: flex;
    padding: 30px 0px;
    font-size: 40px;
    color: var(--discord-black)
}

.p-title {
    color: white;
    padding: 30px;
    line-height: 25px;
}

/* section1 */

.study-group {
    display: flex;
    justify-content: center;
}

.study-gr {
    display: flex;
    max-width: 1152px;
}
.Study-text {
    margin: 0 70px;
    font-size: 15px;
}


/* section2 */

.voice-connected {
    background-color: var(--discord-grey);
}

.voice-con {
    display: flex;
    max-width: 1152px;
}

.debug .voice-text {
    font-size: 15px;
    margin: 0 70px;

}


/* section3 */


.coach {
    display: flex;
    max-width: 1152px;
}

.coach {
    display: flex;
    justify-content: center;
}

.debug .coach-text {
    font-size: 15px;
    margin: 0 70px;
}

/* section 4 */

.just-chillin {
    background-color: var(--discord-grey);
}

.chillin {
    
}

.h2-section4 {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-size: 40px;
    color: var(--discord-black)

}

.p-section4 {
    margin: 10px 365px;
}

.img-just-chillin {
    display: flex;
    justify-content: center;
}

.btn-center {
    background-color: var(--discord-accent);
}

.button-scarica {
    display: flex;
    justify-content: center;
}

.stelle {
    display: flex;
    justify-content: center;
}

/* footer */

.debug .footer-flex {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(38, 38, 38);
    color: white;
}

footer ul{
    list-style: none;
}

.debug .social {
    margin: 50px 0px;
}
.h3-social {
    color: var(--discord-Primary);
}

.ita-leng {
    color: white;
    margin: 20px 0px;
}

.lenguage {
    display: flex;
    align-items: center;
    gap: 2px;
}


.prodotto {
    margin: 50px 0px;
}

.ul-prodotto {
    margin: 20px 0;
}

.compagnia {
    width: 200px;
    height: 500px;
    margin: 50px 0px;
}

.risorse {
    width: 200px;
    height: 500px;
    margin: 50px 0px;
}

.norme {
    width: 200px;
    height: 500px;
    margin: 50px 0px;
}


.registrati-flex {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 38);
}

.section-footer-flex {
    display: flex;
    width: 1300px;
    height: 100px;
    margin: 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 130px;
    height: 50px;
    margin: 50px 0px;
}

.bottone {
    width: 130px;
    height: 50px;
    margin: 50px 0px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--discord-Primary);
    line-height: 3;
}

.registrati {
    background-color: transparent;
    border: none;
    color: white;
}