*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --discord-Primary: #3161E0;
    --discord-accent: #8EA1E1;
    --discord-black: #23272A;
    --discord-grey: #F6F6F6;

}

/* header */
.debug .container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: var(--discord-Primary);

    
}

.debug .logo {
    width: 200px;
    height: px;
    margin: 25px 0px;
    
}

.debug .link .menù {
    display: flex;
    width: 800px;
    height: 50px;
    margin: 25px 0px;
    justify-content: center;
    list-style: none;
    gap: 50px;
    color: white;
    align-items: center;
}

.debug .login {
    display: flex;
    width: 200px;
    height: 50px;
    margin: 25px 0px;
    align-items: center;
    justify-content: end;
}

.btn {

    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 5px 5px;
    border-radius: 30px;
    font-size: 15px;
}

.btn-white{
    color: var(--discord-black);
    background-color: white;
}

.btn-lg {
    padding: 20px 30px;
}

.btn-dark {
    background-color: var(--discord-black);
    color: white;
}

/* main */

.debug .container-title {
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;

}

.debug .title {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 300px;
    margin: 90px 0px;
    padding: 6px;
    

}

.title .h2 {
    font-size: 40px;
    color: white;
}

.p-title {
    color: white;
    padding: 20px;
}

/* section1 */

.debug .section1-flex {
    display: flex;
    justify-content: center;
}

.debug .study-group {
    width: 900px;
    height: 500px;
    background-color: blue;
    margin: 50px 0px;

}

.debug .study-text {
    width: 500px;
    height: 500px;
    background-color: plum;
    margin: 50px 0px;
}

/* section2 */

.debug .section2-flex {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}

.debug .voice-text {
    width: 900px;
    height: 500px;
    background-color: plum;
    margin: 50px 0px;

}

.debug .voice-connected {
    width: 500px;
    height: 500px;
    background-color: blue;
    margin: 50px 0px;
}

/* section3 */

.debug .section3-flex {
    display: flex;
    justify-content: center;
}

.debug .coach {
    width: 900px;
    height: 500px;
    background-color: blue;
    margin: 50px 0px;

}

.debug .coach-text {
    width: 500px;
    height: 500px;
    background-color: plum;
    margin: 50px 0px;
}

/* section 4 */

.debug .section4-flex {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}

.debug .just-chillin {
    width: 1500px;
    height: 1000px;
    background-color: green;
    margin: 50px 0px;

}

/* footer */

.debug .footer-flex {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 38);
}



.debug .social {
    width: 500px;
    height: 500px;
    background-color: pink;
    margin: 50px 0px;
}

.debug .prodotto {
    width: 200px;
    height: 500px;
    background-color:aqua;
    margin: 50px 0px;
}

.debug .compagnia {
    width: 200px;
    height: 500px;
    background-color:aqua;
    margin: 50px 0px;
}

.debug .risorse {
    width: 200px;
    height: 500px;
    background-color:aqua;
    margin: 50px 0px;
}

.debug .norme {
    width: 200px;
    height: 500px;
    background-color:aqua;
    margin: 50px 0px;
}


.debug .registrati-flex {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 38);
}

.debug .section-footer-flex {
    display: flex;
    width: 1300px;
    height: 100px;
    background-color:aqua;
    margin: 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.debug .footer-logo {
    width: 130px;
    height: 50px;
    background-color: pink;
    margin: 50px 0px;
}

.debug .bottone {
    width: 130px;
    height: 50px;
    background-color:pink;
    margin: 50px 0px;
}